/* TAMANHO DO TEXTO */
/* Tamanho da fonte padrão definido em default.css - 10px
:root {
    font-size: 10px;
} */

.tamanho-fonte-60{
    font-size: 6rem;
}

.tamanho-fonte-70{
    font-size: 7rem;
}

.tamanho-fonte-80{
    font-size: 8rem;
}

.tamanho-fonte-90{
    font-size: 9rem;
}

.tamanho-fonte-115 {
    font-size: 11.5px;
}

.tamanho-fonte-130{
    font-size: 13rem;
}

.tamanho-fonte-150{
    font-size: 15rem;
}

.tamanho-fonte-180{
    font-size: 18rem;
}

/* TO-DO: DEMAIS TAMANHOS */