/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* CORES */
:root {
    --white01: #F7FAFC;

    --black01: #141414;
    --gray100: #424242;
    --gray2: #4d4e4e;
    --gray300: #F5F5F5;
    --gray400: #FBFBFB;

    --blue01: #0A3299;
    --blue100: #395AAD;
    --blue120: #6982C1;
    --blue130: #98AAD4;
    --blue140: #C8D2E8;

    --blue02: #517BEE;
    --blue200: #7294F1;
    --blue220: #93AEF4;
    --blue230: #B5C7F6;
    --blue240: #D6E1F9;

    --green01: #5cd6c9;
    --green110: #7BDDD3;
    --green120: #9AE4DD;
    --green130: #B9ECE8;
    --green140: #D8F3F2;

    --pink01: #F94668;
    --pink110: #F96A86;
    --pink120: #F88EA3;
    --pink130: #F8B2C1;
    --pink140: #F7D6DE;
}

/* ESTILO PADRÃO */
html {
    background-color: var(--white01);
}

body {
    max-width: 1440px;
    margin-right: auto !important;
    margin-left: auto !important;
    line-height: 1.2;
}

body * {
    font-family: Roboto, sans-serif;
}

h1 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #4664B2;
}



/* ACESSIBILIDADE */
#acessivel {
    height: 26px;
    background-color: var(--blue100);
}

#acessivel a {
    color: var(--white01);
    font-size: 12px;
    font-weight: 400;
}

.acess-container,
.acess-container .acess-item,
.acess-container ul {
    display: flex;
    justify-content: space-between;
}

.acess-container ul>li {
    list-style-type: none;
    padding-right: 30px;
}

#acess-links ul>li:last-of-type {
    padding-right: 0;
}

/* HEADER */
#header {
    height: 64px;
    background-color: var(--gray400) !important;
}

#header div {
    height: 100%;
}

#header * {
    color: var(--gray100);
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
}

#header .container-logos>div,
#header .container-menu>div {
    display: flex;
    align-items: center;
}

#header-logos {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 45px;
}

#header .container-menu>div {
    justify-content: flex-end;
}

#header .container-menu .menu-menu-principal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header #menu-menu-principal .menu-item {
    padding-right: 50px;
}

#header #menu-menu-principal .menu-item:last-of-type {
    padding-right: 0;
}

/* FOOTER */
#rodape .separador {
    display: block;
    content: "";
    width: 5px;
    height: 200px;
    background-color: var(--green01);
}

/* CONTEÚDO */
/* Corrige a distância do header com position fixed */
#dslc-main {
    padding-top: 90px;
}

/* Home */
#conteudo-principal.home.secao.topo {
    background-repeat:no-repeat;
    background-position:center top;
    background-size: 100% 100%;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.wrapper {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

#conteudo-principal .introducao {
    display: flex;
    max-width: 440px;
}

#conteudo-principal .introducao #titulo-logo {
    max-width: 356px;
    max-height: 158px;
}

#conteudo-principal .introducao p {
    color: var(--white01);
    font-size: 1.6rem;
    margin: 10px 0 30px 0;
}

#conteudo-principal .introducao #pesquisa {
    width: 100%;
    height: 60px;
    border: 1px solid var(--white01);
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.22);
    color: var(--white01);
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 16px;
    background-image: url("/assets/pesquisa-lupa.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 17px;
}

#conteudo-principal #pesquisa::placeholder {
    color: var(--gray300);
}

#conteudo-principal .acesso-rapido {
    display: flex;
    justify-content: flex-end;
}

#conteudo-principal .acesso-rapido-box {
    color: var(--gray100);
    border-radius: 5px;
    padding: 25px 45px;
    max-width: 440px;
    background-color: var(--gray300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.33);
    align-self: flex-end;
}

#conteudo-principal .acesso-rapido h2 {
    font-size: 2.4rem;
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 24px;
    color: #6a6a6a;
}

#conteudo-principal .acesso-rapido p {
    font-size: 1.6rem;
    margin: 15px 0;
    line-height: 1.2;
}

.home.secao {
    background-color: var(--gray400) !important;
}

.container-indice, .container-avisos {
    width: 100%;
}

/* BOTÕES */
#conteudo-principal .acesso-rapido button {
    margin-bottom: 18px;
    border-radius: 5px;
    width: 100%;
    padding: 6px 0;
    color: var(--white01);
    background-color: var(--blue100);
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* PÁGINAS INTERNAS */
.interna.topo {
    background-image: url("/assets/interna-bg-topo.png");
    background-size: 100% 100%;
    max-height: 146px;
    height: 146px;
}

.interna-wrapper {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.titulo-decorado h1 {
    display: inline-block;
}

.titulo-decorado h1::after {
    margin-top: 0.9rem;
    display: block;
    content: "";
    width: 100%;
    height: 6px;
    background-color: currentColor;
}

.container-interna {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
}

.interna.info {
    padding-top: 50px;
    padding-bottom: 50px;
}

.interna.info p, .interna.info li {
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
}

.interna.info li {
    margin-top: 5px;
}

.atualizado-em {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
}

/* BREADCRUMB */

#container-breadcrumb_texto {
    font-size: 14px;
    margin: 5px 30px 0 0 ;
    padding: 11px 0 15px 0px;
}





