label {
    font-weight: 500;
}

.form-control, .form-select {
    font-size: 1.6rem;
}

/* Contato */
thead tr th {
    border-bottom-width: 0.2rem !important;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

th {
    font-weight: 700;
}

.btn-close {
    font-size: 1.2rem;
    opacity: 0.66;
}

/* Botões */
.btn {
    font-size: 1.4rem;
}

.btn-enviar {
    --bs-btn-padding-y: .75rem;
    --bs-btn-padding-x: 3rem;
    --bs-btn-font-size: .75rem;
}