
.container-conteudo a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.2%;
    letter-spacing: -0.02em;
    color: #141414;
    text-decoration: none;
    transition-property: padding, color;

}

.container-conteudo li {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s ease;
}

.container-conteudo li:hover {
    text-decoration: underline;
    transition-duration: 0.200s;
    text-decoration-color: #0A3299;
    transform: translateY(-10px);
}


.container-conteudo li:hover a {
    color: #0A3299;
}

.container-conteudo li:not(:hover) a {
    transform: translateY(0);
    }

h2::after {
    margin-top: 0.9rem;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 26px;
    color: #333333;
    letter-spacing: -0.02em;
    margin-top: 70px;
}

h2:first-child{    
    margin-top: 32px;
}

.mapa-link {
    height: 30px;
    display: flex;
    align-items: flex-end;
}