# ignore everything in the root except this file and the "wp-content" directory.
/*
!.gitignore
!wp-content/
!lc-modules/
!css/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/live-composer-page-builder/

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignora arquivos de teste
*.bkp
*_bkp
*teste.php
